.posts {
    margin: 100px 10%;
    .post {
        h1 {
            display: inline;
        }
        margin-bottom: 4em;
        border-bottom: 1px solid $color-1;

        .post-img {
            margin: 1em 0;
        }
    }

    @media (min-width: 910px) {
        margin: 100px 20%;
    }
    @media (min-width: 1410px) {
    }
}