<div class="publications">
    <div class="banner">
        <h1>Publicaciones</h1>
    </div>
    <div class="posts">
        <div class="post">
            <div class="post-head">
                <h1>Titulo</h1><span>13 mar 2017</span>
            </div>
            <div class="post-img">
                <amp-img alt="girl"
                    src="/static/images/publications/publication.jpg"
                    width="710"
                    height="400"
                    layout="responsive">
                </amp-img>
            </div>
            <p class="post-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos hic cupiditate ab, esse cumque suscipit quaerat nisi, beatae, temporibus harum aspernatur assumenda facere neque quas possimus maxime inventore doloremque quibusdam.</p>
        </div>
        <div class="post">
            <div class="post-head">
                <h1>Titulo</h1><span>13 mar 2017</span>
            </div>
            <div class="post-img">
                <amp-img alt="girl"
                    src="/static/images/publications/publication.jpg"
                    width="710"
                    height="400"
                    layout="responsive">
                </amp-img>
            </div>
            <p class="post-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos hic cupiditate ab, esse cumque suscipit quaerat nisi, beatae, temporibus harum aspernatur assumenda facere neque quas possimus maxime inventore doloremque quibusdam.</p>
        </div>
        <div class="post">
            <div class="post-head">
                <h1>Titulo</h1><span>13 mar 2017</span>
            </div>
            <div class="post-img">
                <amp-img alt="girl"
                    src="/static/images/publications/publication.jpg"
                    width="710"
                    height="400"
                    layout="responsive">
                </amp-img>
            </div>
            <p class="post-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos hic cupiditate ab, esse cumque suscipit quaerat nisi, beatae, temporibus harum aspernatur assumenda facere neque quas possimus maxime inventore doloremque quibusdam.</p>
        </div>
        <div class="post">
            <div class="post-head">
                <h1>Titulo</h1><span>13 mar 2017</span>
            </div>
            <div class="post-img">
                <amp-img alt="girl"
                    src="/static/images/publications/publication.jpg"
                    width="710"
                    height="400"
                    layout="responsive">
                </amp-img>
            </div>
            <p class="post-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos hic cupiditate ab, esse cumque suscipit quaerat nisi, beatae, temporibus harum aspernatur assumenda facere neque quas possimus maxime inventore doloremque quibusdam.</p>
        </div>
    </div>
</div>