$color-bg: #efefef;
$color-text: #333;
$color-white: #fff;
$shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.05);

$color-1: #04acac;
$color-2: #045454;
$color-3: #c0d4d4;
$color-4: #22333b;
$color-on-1: $color-white;

$padding: 40px;

$contained-width: 900px;

$font-family: 'Open Sans', arial, sans-serif;
$line-height: 18px;
