$color-bg: #efefef;
$color-text: #333;
$color-white: #fff;
$shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.1);

$color-1: #34b6e4;
$color-2: #125687;
$color-3: #868684;
$color-4: #2b2e34;
$color-on-1: $color-white;

$padding: 40px;

$contained-width: 900px;

$font-family: 'Open Sans', arial, sans-serif;
$line-height: 18px;
