.why {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    padding-top: 3em;
    width: 100vw;
    p {
        line-height: 2em;
        padding: 0 10% 100px 10%;
    }


    @media (min-width: 850px) {
        p {
            padding: 0 25% 100px 25%;
        }
    }
}