<div class="header">
  <div class="container">
    <a class="hamburger" on='tap:sidebar1.toggle'>
      <i class="fas fa-bars"></i>
    </a>
    <amp-img alt="logo"
      class="logo"
      src="{{ podspec.meta.logo_path }}"
      width="60"
      height="61"></amp-img>
    <h1 class="title">
      <a href="{{podspec.home.url}}">{{podspec.title}}</a>
    </h1>
    {% include "/partials/header/nav.html" %}
  </div>
</div>
<amp-sidebar class="sidebar" id="sidebar1" layout="nodisplay" side="left">
  {% include "/partials/header/nav.html" %}
</amp-sidebar>