<div class="header">
  <div class="container">
    <a class="hamburger" on='tap:sidebar1.toggle'>
      <i class="fas fa-bars"></i>
    </a>
    <a href="/" class="logo">
      <amp-img alt="logo"
        src="{{ podspec.meta.logo_path }}"
        width="61"
        height="61"></amp-img>
    </a>
    <h1 class="title">
      <a href="/">{{podspec.title}}</a>
    </h1>
    {% include "/partials/header/nav.html" %}
  </div>
</div>
<amp-sidebar class="sidebar" id="sidebar1" layout="nodisplay" side="left">
  {% include "/partials/header/nav.html" %}
</amp-sidebar>