.treatments {
    line-height: normal;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-bottom: 100px;
    .text {
        h1 {
            margin: 3em 0 1em 0;
        }
        display: grid;
        place-content: center;
        padding: 0 10%;
    }

    .laptop {
        display: none;
        align-self: center;
        width: 100%;
        height: auto;
    }

    @media (min-width: 910px) {
        .text {
            padding: 0 15%;
        }
    }
    
    @media (min-width: 1410px) {
        .text {
            padding: 0 20%;
        }
    }
}