<div class="about">
    <div class="about-banner">
        <div class="card">
            <h1>{{_(partial.we_title)}}</h1>
            {{_(partial.we)}}
        </div>
    </div>
    <div class="statements">
        <div class="mission">
            <h1>
                {{_(partial.mission)}}
            </h1>
            <p>
                {{_(partial.mission_statement)}}
            </p>
        </div>
        <div class="vision">
            <h1>
                {{_(partial.vision)}}
            </h1>
            <p>
                {{_(partial.vision_statement)}}
            </p>
        </div>
    </div>
    <div class="origen">
        <div class="girl">
            <amp-img alt="girl"
                src="/static/images/about/girl.jpg"
                width="1908"
                height="1272"
                layout="responsive">
            </amp-img>
        </div>
        <div class="origen-paragraph">
            <h1>{{_(partial.our_origin)}}</h1>
            <div class="line"></div>
            <p>
                {{_(partial.origin)}}
            </p>
        </div>
    </div>
    <div class="team">
        <div class="team-picture">
            <amp-img alt="girl"
                src="/static/images/about/team.jpg"
                width="900"
                height="520"
                layout="responsive">
            </amp-img>
        </div>
        <div class="team-card">
            <div class="card">
                <h1>{{_(partial.team)}}</h1>
                <div class="line"></div>
                <p>
                    {{_(partial.team_description)}}
                </p>
            </div>
        </div>
    </div>
    <div class="doctors"><div class="dr_card left">
            <div class="portrait">
                <amp-img class="picture" alt="Dr. Siller"
                    src="/static/images/about/dr_siller.jpg"
                    width="318"
                    height="318"
                    layout="responsive">
                </amp-img>
                <h1>Dr. Alberto Jerónimo Siller</h1>
                <a href="https://www.topdoctors.mx/doctor/alberto-jeronimo-siller-aguirre">
                    <amp-img class="" alt="Top Doctors"
                        src="/static/images/Logo-Top-Doctors.png"
                        width="60"
                        height="60"
                        layout="">
                    </amp-img>
                </a>
            </div>
            <div class="description">
                {{_(partial.alberto_siller)}}
            </div>
        </div>
        <div class="dr_card right">
            <div class="portrait">
                <amp-img class="picture" alt="Dr. Garcia"
                    src="/static/images/about/dr_garcia.jpg"
                    width="318"
                    height="318"
                    layout="responsive">
                </amp-img>
                <h1>Dr. Alberto García de la Fuente</h1>
                <a href="https://www.topdoctors.mx/en/doctor/jose-alberto-garcia-de-la-fuente">
                    <amp-img class="" alt="Top Doctors"
                        src="/static/images/Logo-Top-Doctors.png"
                        width="60"
                        height="60"
                        layout="">
                    </amp-img>
                </a>
            </div>
            <div class="description">
                {{_(partial.alberto_garcia)}}
            </div>
        </div>
    </div>
</div>