<div class="about">
    <div class="about-banner">
        <div class="card">
            <h1>Qué hacemos</h1>
            <p>
                El Instituto de Oncología Intervencionista, IDOI S.C., tiene como objetivo mejorar la salud y proveer el mejor servicio y atención posible a los pacientes que recibe.
            </p>
            <p>  
                Ha sido considerado líder en el procedimiento intra-arterial de tumores cerebrales y es reconocido por el tratamiento que ofrece para glioma intrínseco difuso (DIPG, por sus siglas en inglés).
            </p>
            <p>  
                Los fármacos, las aplicaciones de tratamiento y los procedimientos empleados están aprobados en diferentes ensayos médicos alrededor del mundo.
            </p>
            <p>  
                Ha tenido resultados exitosos en la mayoría de los casos porque selecciona cuidadosamente aquellos en los que el tratamiento puede beneficiar al paciente.
            </p>
        </div>
    </div>
    <div class="statements">
        <div class="mission">
            <h1>
                Misión
            </h1>
            <p>
                Atender casos aislados y complejos de diferentes tipos de cáncer que requieren medidas extraordinarias mediante técnicas altamente efectivas que no provocan deterioro del estado clínico e inmunológico.
            </p>
        </div>
        <div class="vision">
            <h1>
                Visión
            </h1>
            <p>
                Ser una institución líder a nivel mundial en el tratamiento de cáncer al brindar mejor calidad de vida a los pacientes con pronóstico poco alentador.
            </p>
        </div>
    </div>
    <div class="origen">
        <amp-img class="girl" alt="girl"
            src="/static/images/about/girl.jpg"
            width="1908"
            height="1272"
            layout="responsive">
        </amp-img>
        <div class="origen-paragraph">
            <h1>Nuestro origen</h1>
            <div class="line"></div>
            <p>
                El IDOI surge de la necesidad de unir dos carreras de éxito profesional y
                    dos experiencias complementarias, una en Oncología y otra en
                    Neurorradiología Intervencionista, para encontrar nuevas formas de utilizar
                    diferentes técnicas, procedimientos y fármacos en beneficio de los
                    pacientes con ciertos procedimientos muy específicos y en los que se
                    puede exponenciar la calidad de vida del paciente y las posibilidades de
                    remisión del cáncer.
            </p>
        </div>
    </div>
    <div class="team">
        <amp-img class="team-picture" alt="girl"
            src="/static/images/about/team.jpg"
            width="900"
            height="520"
            layout="responsive">
        </amp-img>
        <div class="team-card">
            <h1>Equipo Médico</h1>
            <div class="line"></div>
            <p>
                El IDOI está conformado por un grupo de especialistas en diferentes áreas,
                    como oncología, neurorradiología intervencionista, pediatría, pediatría
                    intensivista, anestesiología y neurocirugía, entre otras.
            </p>
        </div>
    </div>
</div>