<div class="contact">
        <amp-img class="laptop" alt="laptop"
            src="/static/images/contact/laptop.jpeg"
            width="460"
            height="580">
        </amp-img>
    <form class="contact-card" role="form" aria-label="contact form" novalidate="">
        <input id="field1" type="text" required="" aria-invalid="false" name="Name" 
            placeholder="Name *" data-aid="nameField" value="">
        <input id="field2" type="text" required="" aria-invalid="false" name="Email" 
            placeholder="Email *" data-aid="emailField" value="">
        <input id="field3" type="text" aria-invalid="false" name="Subject" class="" placeholder="Subject" data-aid="subjectField"
            value="">
        <textarea name="Message" placeholder="Message" data-aid="messageField"></textarea>
        <button type="submit">Send</button>
    </form>
    <amp-iframe class="map" width="700" height="700" layout="responsive" title="Google map pin on Googleplex, Mountain View CA"
        sandbox="allow-scripts allow-same-origin allow-popups" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJf6Cq2QG-YoYRRjOelX88Hfs&key=AIzaSyAdYDVKLTh9c5yZ5z8Gyxxl90vMq9h8fkk">
        <amp-img layout="fill" src="/static/images/logo_2030x1201.png" placeholder></amp-img>
    </amp-iframe>
</div>