<div class="contact">
    <div class="contact-card">
        <form role="form" aria-label="contact form" novalidate="">
            <input id="field1" type="text" required="" aria-invalid="false" name="Name" 
                placeholder="Name *" data-aid="nameField" value="">
            <input id="field2" type="text" required="" aria-invalid="false" name="Email" 
                placeholder="Email *" data-aid="emailField" value="">
            <input id="field3" type="text" aria-invalid="false" name="Subject" class="" placeholder="Subject" data-aid="subjectField"
                value="">
            <textarea name="Message" placeholder="Message" data-aid="messageField"></textarea>
            <button type="submit">Send</button>
        </form>
        <amp-facebook-page width="500" height="500"
            layout="responsive"
            data-href="https://www.facebook.com/idoimexico"
            data-tabs=""
            data-small-header="false"
            data-adapt-container-width="true"
            data-hide-cover="false"
            data-width="500"
            data-show-facepile="false">
        </amp-facebook-page>

    </div>
    <amp-iframe class="map" width="700" height="700" layout="responsive" title="Google map pin on Googleplex, Mountain View CA"
        sandbox="allow-scripts allow-same-origin allow-popups" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJf6Cq2QG-YoYRRjOelX88Hfs&key=AIzaSyAdYDVKLTh9c5yZ5z8Gyxxl90vMq9h8fkk">
        <amp-img layout="fill" src="/static/images/LOGO_IDOI.png" placeholder></amp-img>
    </amp-iframe>
</div>
