@import '../common/config';

body {
  background: $color-bg;
  margin: 0;
  color: $color-2;
  font-family: $font-family;
  line-height: $line-height;
  -webkit-font-smoothing: antialiased;
  
  a {
    color: $color-1;
  }
  h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
    color: $color-1;
    letter-spacing: 2px;
  }
}

.wrapper {
  box-sizing: border-box;
  margin: 0;
  padding-top: 80px;
}



div.line {
  content: '';
  height: 25px;
  width: 2px;
  background: $color-2;
  display: inline-block;
  text-align: center;
  margin: 15px 0 20px 0;
}

@import '../common/button';
@import '../common/modifiers';
@import '../../../partials/header/header';
@import '../../../partials/hero/hero';
@import '../../../partials/why/why';
@import '../../../partials/footer/footer';
@import '../../../partials/about/about';
@import '../../../partials/treatments/treatments';
